##### precommit2
##### commit

[Unit]
Description=Lotus Worker GPU
After=network.target
After=lotus-daemon.service
After=lotus-miner.service
Wants=lotus-miner.service

[Service]
ExecStart=/usr/local/bin/lotus-worker run --listen 0.0.0.0:3101 --addpiece=false --precommit1=false --unseal=false --precommit2=true --commit=true
Environment=GOLOG_FILE="/var/log/lotus/gpu.log"
Environment=GOLOG_LOG_FMT="json"

# ipfs gateway
Environment="IPFS_GATEWAY=https://proof-parameters.s3.cn-south-1.jdcloud-oss.com/ipfs/"

# lotus daemon & lotus miner
Environment="LOTUS_PATH=/filecoin/.lotus"
Environment="LOTUS_MINER_PATH=/filecoin/lotusminer"
# lotus miner api info
Environment="MINER_API_INFO=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJBbGxvdyI6WyJyZWFkIiwid3JpdGUiLCJzaWduIiwiYWRtaW4iXX0.Ip0_ycgIY2h9Nsx5id7OqmiJXmXA6RR0-MkYe4ESBLA:/ip4/127.0.0.1/tcp/2345/http"
# lotus worker
Environment="LOTUS_WORKER_PATH=/filecoin/lotusworker/gpu"

# tmp dir
Environment="TMPDIR=/filecoin/seal-TMP/gpu"

# cpu & gpu available
Environment="BELLMAN_CPU_UTILIZATION=0.875"
Environment="FIL_PROOFS_MAXIMIZE_CACHING=1"
Environment="BELLMAN_CUSTOM_GPU=GeForce RTX 3080:8704"
Environment="FIL_PROOFS_USE_GPU_COLUMN_BUILDER=1"
Environment="FIL_PROOFS_USE_GPU_TREE_BUILDER=1"

# seal parameter
Environment="FIL_PROOFS_PARAMETER_CACHE=/filecoin/filecoin-proof-parameters"
Environment="FIL_PROOFS_PARENT_CACHE=/filecoin/filecoin-parents"

# use multi cpu core to reduce memory cost
Environment="FIL_PROOFS_USE_MULTICORE_SDR=1"
# use all cpu
# CPUAffinity=

Environment="FILECOIN_FLAG=gpu"

[Install]
WantedBy=multi-user.target
